<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" id="WebApp_ID"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
	http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	
	<!-- 设置自定义的监听器 
	<listener>
		<listener-class>com.omnipotent.listener.GetConnListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.omnipotent.listener.MyServletContextAttributeListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.omnipotent.listener.OnlineListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.omnipotent.listener.RequestListener</listener-class>
	</listener>
	-->
	
	<!-- 防止发生java.beans.Introspector内存泄露,应将它配置在ContextLoaderListener的前面 -->
    <!-- 详细描述见http://blog.csdn.net/jadyer/article/details/11991457 -->
    <listener>
        <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	<!-- 配置启动Spring IOC容器的Listener -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- 加载Spring框架配置文件 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>

	<!-- 设置统一编码 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 自定义权限检查过滤器 -->
	<filter>
		<!-- Filter的名字，相当于指定@WebFilter的filterName属性 -->
		<filter-name>PermissionFilter</filter-name>
		<!-- Filter的实现类 -->
		<filter-class>com.omnipotent.filter.PermissionFilter</filter-class>
		<!-- 下面的init-param元素配置了一个参数 -->
		<init-param>
			<param-name>filterURL</param-name>
			<param-value>/test.do</param-value>
		</init-param>
	</filter>
	<!-- 定义Filter拦截的URL地址 -->
	<filter-mapping>
		<!-- Filter的名字，与上面配置的必须一致 -->
		<filter-name>PermissionFilter</filter-name>
		<!-- Filter负责拦截的URL，相当于指定@WebFilter的urlPatterns属性 -->
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- springMVC模块 -->
	<servlet>
		<!-- 指定Servlet的名字，相当于指定@WebServlet的name属性 -->
		<servlet-name>dispatcher</servlet-name>
  		<!-- 指定Servlet的实现类，类名要包含包名，并注意大小写 -->
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:dispatcher-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
  		<!-- 指定Servlet的名字，与上面配置的必须一致 -->
		<servlet-name>dispatcher</servlet-name>
  		<!-- 指定Servlet映射的URL地址，相当于指定@WebServlet的urlPatterns属性-->
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<!-- Druid,监控数据库,以及WEB访问连接信息 -->
	<!-- 参考: https://github.com/alibaba/druid/wiki/%E9%85%8D%E7%BD%AE_%E9%85%8D%E7%BD%AEWebStatFilter -->
	<filter>
		<filter-name>DruidWebStatFilter</filter-name>
		<filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>
		<init-param>
			<param-name>exclusions</param-name>
			<param-value>*.js,*.gif,*.jpg,*.png,*.css,*.ico,*.jsp,/druid/*,/download/*</param-value>
		</init-param>
		<init-param>
			<param-name>sessionStatMaxCount</param-name>
			<param-value>2000</param-value>
		</init-param>
		<init-param>
	        <param-name>sessionStatEnable</param-name>
	        <param-value>true</param-value>
	    </init-param>
		<init-param>
	        <param-name>principalSessionName</param-name>
	        <param-value>session_user_key</param-value>
	    </init-param>
	    <init-param>
		    <param-name>profileEnable</param-name>
		    <param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>DruidWebStatFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!--  
		StatViewServlet配置：
		Druid内置提供了一个StatViewServlet用于展示Druid的统计信息。
		这个StatViewServlet的用途包括：
		    提供监控信息展示的html页面
		    提供监控信息的JSON API
		注意：使用StatViewServlet，建议使用druid 0.2.6以上版本。
		StatViewServlet是一个标准的javax.servlet.http.HttpServlet，需要配置在你web应用中的WEB-INF/web.xml中。
		根据配置中的url-pattern来访问内置监控页面，如果是上面的配置，内置监控页面的首页是/druid/index.html
	-->
	<servlet>
    	<servlet-name>DruidStatView</servlet-name>
      	<servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
      	<init-param>  
		    <!-- 允许清空统计数据 -->  
		    <param-name>resetEnable</param-name>  
		    <param-value>true</param-value>  
		</init-param>
		<init-param>
		    <!-- 用户名 -->  
		    <param-name>loginUsername</param-name>  
		    <param-value>druid</param-value>  
		</init-param>
		<init-param>
		    <!-- 密码 -->  
		    <param-name>loginPassword</param-name>  
		    <param-value>druid</param-value>  
	    </init-param>
	    <!-- 
	    	配置allow和deny，判断规则：
    			deny优先于allow，如果在deny列表中，就算在allow列表中，也会被拒绝。
    			如果allow没有配置或者为空，则允许所有访问
    		ip配置规则：
    			配置的格式    <IP>  或者  <IP>/<SUB_NET_MASK_size>  
    			其中  128.242.127.1/24  24表示，前面24位是子网掩码，比对的时候，前面24位相同就匹配。
    			由于匹配规则不支持IPV6，配置了allow或者deny之后，会导致IPV6无法访问。
	    <init-param>
	        <param-name>allow</param-name>
	        <param-value>128.242.127.1/24,128.242.128.1</param-value>
	    </init-param>
	    <init-param>
	        <param-name>deny</param-name>
	        <param-value>128.242.127.4</param-value>
	    </init-param>
	    -->
	    <!--  
	    	配置resetEnable：在StatViewSerlvet输出的html页面中，有一个功能是Reset All，执行这个操作之后，会导致所有计数器清零，重新计数。你可以通过配置参数关闭它。
	    <init-param>
	        <param-name>resetEnable</param-name>
	        <param-value>false</param-value>
	    </init-param>
	    -->
  	</servlet>
  	<servlet-mapping>
      	<servlet-name>DruidStatView</servlet-name>
      	<url-pattern>/druid/*</url-pattern>
  	</servlet-mapping>
	
	<!-- 默认欢迎页面设置 -->
	<welcome-file-list>
		<welcome-file>home.jsp</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>